<!DOCTYPE html>
@using TrainersSchoolingSystem.Utils;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @GlobalData.configuration.SchoolName (@GlobalData.configuration.Campus)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.2.621/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.2.621/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.2.621/kendo.default.mobile.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id="tmenu" class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("User Management", "Index", "TrainerUsers")</li>
                            <li>@Html.ActionLink("Staff", "Index", "Staffs")</li>
                            <li>@Html.ActionLink("Class", "Index", "Classes")</li>
                            <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
                            <li>@Html.ActionLink("Subjects Assignment", "Index", "SubjectAssignments")</li>
                            <li>@Html.ActionLink("Enrolment Management", "Index", "Enrolments")</li>
                            <li>@Html.ActionLink("Students Management", "Index", "Students")</li>
                            <li>@Html.ActionLink("LookupTypes Management", "Index", "LookupTypes")</li>
                            <li>@Html.ActionLink("Lookups Management", "Index", "Lookups")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Students
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("New Admission", "NewAdmission", "Students")</li>
                            <li>@Html.ActionLink("Enrolled Students", "Students", "Students")</li>

                        </ul>
                    </li>
                    
                    @*<li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The Trainers Schooling System (NEDIANS Campus)</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Scripts/kendo/2017.2.621/kendo.all.min.js"></script>

    <script src="~/Scripts/kendo/2017.2.621/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
</body>
</html>
