<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Trainers Schooling System (NEDIANS Campus)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/Content/kendo/2017.2.621/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.2.621/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.2.621/kendo.default.mobile.min.css" rel="stylesheet" />*@
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id="tmenu" class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Portal Settings
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("User Management", "Index", "TrainerUsers")</li>
                            <li>@Html.ActionLink("LookupTypes Management", "Index", "LookupTypes")</li>
                            <li>@Html.ActionLink("Lookups Management", "Index", "Lookups")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            School Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Staff", "Index", "Staffs")</li>
                            <li>@Html.ActionLink("Class", "Index", "Classes")</li>
                            <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
                            <li>@Html.ActionLink("Subjects Assignment", "Index", "SubjectAssignments")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Student Section
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Students Management", "Index", "Students")</li>
                            <li>@Html.ActionLink("Parents", "Index", "Parents")</li>
                            <li>@Html.ActionLink("Enrolments", "Index", "Enrolments")</li>

                        </ul>
                    </li>
                    @*<li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The Trainers Schooling System (NEDIANS Campus)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#DateOfBirth").datepicker();
            $("#JoiningDate").datepicker();
            $("#EndDate").datepicker();

            var places = ["District East Karachi", "District West Karachi", "District Central Karachi", "District Korangi", "District South Karachi"];
            $("#PlaceOfBirth").autocomplete({
                source: places
            });

            var religions = ["Islam", "Christianity", "Hinduism"];
            $("#Religion").autocomplete({
                source: religions
            });
            var languages = ["Urdu", "Sindhi", "Pushto", "Punjabi", "Siraeki", "Balochi"];
            $("#MotherTongue").autocomplete({
                source: languages
            });
            var bloodGroups = ["A+", "A-", "B+", "B-", "AB+", "AB-","O+","O-"];
            $("#BloodGroup").autocomplete({
                source: bloodGroups
            });
            var nationalities = ["Pakistani",];
            $("#Nationality").autocomplete({
                source: nationalities
            });
            var admissionBasis_ = ["Merit Based","Need Based"];
            $("#AdmissionBasis").autocomplete({
                source: admissionBasis_
            });
            var paymentModes = ["Monthly", "Quarterly", "Semi Annually","Annually"];
            $("#PaymentMode").autocomplete({
                source: paymentModes
            });
            var cities = ["Karachi", "Hyderabad"];
            $("#City").autocomplete({
                source: cities
            });
            var professions = ["Doctor", "Engineer","Teacher","Businessman","No Profession","Factory Worker","Government Servant"];
            $("#Father__Profession").autocomplete({
                source: professions
            });
            $("#Mother__Profession").autocomplete({
                source: professions
            });
            $("#Guardian__Profession").autocomplete({
                source: professions
            });
            var orgtypes = ["Public Sector", "Private Sector","Semi-Government"];
            $("#Father__OrganizationType").autocomplete({
                source: orgtypes
            });
            $("#Mother__OrganizationType").autocomplete({
                source: orgtypes
            });
            $("#Guardian__OrganizationType").autocomplete({
                source: orgtypes
            });
        });
    </script>
</body>
</html>
