@model IEnumerable<TrainersSchoolingSystem.Models.StaffAttendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Absents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortLeaves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LateComings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Absents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortLeaves)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LateComings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerUser.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerUser1.Username)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StaffAttendanceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.StaffAttendanceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StaffAttendanceId })
        </td>
    </tr>
}

</table>
