@{
    ViewBag.Title = "Home Page";
}
@using TrainersSchoolingSystem.Utils;
<div>
    <div style="float:left">
        <img style="height:100px;width:100px" src=@GlobalData.configuration.Picture />
    </div>
    <div style="float:left;">
        <h1>@GlobalData.configuration.SchoolName</h1>
        <p class="lead">@GlobalData.configuration.Campus</p>
    </div>
    <div style="clear:both"></div>
    <div class="col-md-4">
        @Html.Partial("../Reports/MonthlySalaryPayments");
    </div>
    <div class="col-md-4">
        @Html.Partial("../Reports/MonthlyFeeCollection");
    </div>
    <div class="col-md-4">
        @Html.Partial("../Reports/ClasswiseCount");
    </div>
</div>

<div style="clear:both"></div>