@model TrainersSchoolingSystem.Models.Enrolment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrolment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student1.FirstName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.RollNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GRNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRNo)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Student1.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class1.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class1.ClassName)
            @Html.DisplayFor(model => model.Class1.Section)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastInstitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastInstitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdmissionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerUser.Username)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerUser1.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrolmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
