@model IEnumerable<TrainersSchoolingSystem.Models.Enrolment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student1.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class1.ClassName)
            @Html.DisplayNameFor(model => model.Class1.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastInstitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student1.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RollNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class1.ClassName)
            @Html.DisplayFor(modelItem => item.Class1.Section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastInstitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TrainerUser.Username)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TrainerUser1.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EnrolmentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EnrolmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EnrolmentId })
        </td>
    </tr>
}

</table>
