@model TrainersSchoolingSystem.Models.Parent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Landline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerUser.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerUser1.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
