@model IEnumerable<TrainersSchoolingSystem.Models.SubjectAssignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class1.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject1.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class1.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject1.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerUser.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerUser1.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectAssignmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubjectAssignmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectAssignmentId })
        </td>
    </tr>
}

</table>
